#other_search_conditions.portlet{
    padding: 5px;
}

.selected_order {background-color:#aeaeae !important;}

#other_search_conditions .md-checkbox-inline .md-checkbox{
    margin-right: 5px;
}

.datepicker table td{
    cursor: pointer;
}
.datepicker table td:hover{
    background: #ccc;
}