.unread {
	color: red;
	font-weight: bold;
	display: inline-block;
	width: 100%;
}

.fullHeigh {
	height: 100%;
	overflow: hidden;
}

.wrapper {
	/*overflow-y: scroll;*/
	height: 90%;
}

.footer {
	position: static;
	bottom: 0;
	height: 10%;
	background-color: yellow;
}

.white {
	background-color: white;
}

#comment {
	display: block;
	overflow-y: scroll;
}

#comment_filter {
	padding: 5px;
}

.ontop { //
	height: 110px; //
	border-bottom: 1px solid gray;
}

#footer_chat {
	border-top: 1px solid gray;
	padding: 5px;
}

.seleted_comment {
	background-color: #ccc;
}

.list-group-item {
	padding: 0 15px;
}

.holdon-overlay-div {
	background: #f4f4f4;
	bottom: 0;
	filter: alpha(opacity = 80);
	height: 100%;
	left: 0;
	opacity: 0.01 !important;
	position: absolute !important;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.holder {
	width: 100%;
	display: none;
	z-index: 99999;
}

.popup {
	width: 500px;
    height: auto;
    margin: 30px auto 0;
	padding: 6px;
	position: absolute;

	margin-left: -483px;
	margin-top: -6px;
	z-index: 99999;
	border-radius: 7px;
	background: #6b6a63;
	bottom: 50px;
	left: 482px;
}

.popup>.content {
	background: #fff;
	padding: 5px 0px 5px 5px;
	max-height: 390px;
    min-height: 0;
}
.message-created-at{visibility: hidden}
.direct-chat-text:hover .message-created-at{visibility: visible}

#post-message #img-container img {
    max-height: 100px;
    width: auto;
}

.bg-white {
    background-color: #fff;
    position: relative;
}

.friend-list {
    list-style: none;
    margin-left: -40px;
}

.friend-list li {
    border-bottom: 1px solid #eee;
}

.friend-list li a img {
    float: left;
    width: 45px;
    height: 45px;
    margin-right: 0px;
}

.friend-list li a {
    position: relative;
    display: block;
    padding: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
	text-decoration: none;
}

.friend-list li.active a {
    background-color: #f1f5fc;
}

.friend-list li a .friend-name{
	width: 65%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 3px;
	margin-top:4px;
}

.friend-list li a .friend-name:hover {
    color: #777;
}

.friend-list li a .last-message {
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	padding-left: 3px;
}

.friend-list li a .time {
    position: absolute;
    top: 10px;
    right: 4px;
}

small, .small {
    font-size: 85%;
}

.friend-list li a .chat-alert {
    position: absolute;
    right: 30px;
    top: 32px;
    font-size: 10px;
    padding: 3px 5px;
}

.friend-list li a .label.comment {
	position: absolute;
	right: 4px;
	top: 31px;
	font-size: 20px;
	padding: 0;
	color: #8E44AD;
	box-shadow: none;
}

.friend-list li a .label.inbox {
	position: absolute;
	right: 4px;
	top: 31px;
	font-size: 20px;
	padding: 0;
	color: #c49f47;
	box-shadow: none;
}

.friend-list li a .chat-alert.has-order {
    right: 53px;
    font-size: 8px;
    padding: 1px 3px;
}

.chat-message {
    padding: 0 5px 78px;
}

.chat-message .chat {
    list-style: none;
    margin: 0;
    padding: 5px 15px 5px 0px;
}

.chat-message {
    /*background: #f9f9f9;*/
	padding-right: 0;
}

.chat li img {
    width: 45px;
    height: 45px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

img {
    max-width: 100%;
}

.chat-body {
    padding-bottom: 20px;
}

.chat li.left .chat-body {
    margin-left: 70px;
    background-color: #fff;
}

.chat li .chat-body {
    position: relative;
    font-size: 11px;
    padding: 10px;
    border: 1px solid #f1f5fc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.chat li .chat-body .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
    margin: 0;
}

.chat li.left .chat-body:before {
    position: absolute;
    top: 10px;
    left: -9px;
    display: inline-block;
    background: #fff;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-left: 1px solid #f1f5fc;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
    position: absolute;
    top: 10px;
    right: -8px;
    display: inline-block;
    background: #fff;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-right: 1px solid #f1f5fc;
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.chat li {
    margin: 15px 0;
}

.chat li.right .chat-body {
    margin-right: 70px;
    background-color: #fff;
}

.chat-box {
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    position: absolute;
}

.primary-font {
    color: #3c8dbc;
}

.chat-section .portlet .actions .btn-group .btn {
    padding: 7px 10px;
    font-size: 13px;
    text-transform: Capitalize;
}

#overlay-loading {
    display: none;
}

#overlay-loading.active-overlay {
    display: block;
}
#chat-left{
	width: 69%; display: inline-block;vertical-align: top; padding: 12px 15px 15px;
}
#chat-right{
	width: 30%; display: inline-block; vertical-align: top;
}

.page-content{
	max-height: 100%; overflow: hidden;
}
